/* *{
    border: 1px solid;

} */

#tabla-home {
    margin: 50px 0px 50px 0px;
    height: 680px;

}

#cabecera {
    
    font-weight: bold;
    /* height: 150px; */
    padding-right: 20.0em;
    padding-left: 20.0em;

}

#form-compra {
    background-color: #F0FFFF;
}

.botones-form {
    padding-top: 20px;
}


/* header, footer{
    background-color: #5abdca;
    color: #424646;
    font-size: 1.4em;
    font-weight: bold;
    height: 300px;
    
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    margin: 0;
}

ul.errors{
    color: red;
    font-weight: bold;
    font-size: 0.8em;
}

ul.flashes{
    color: greenyellow;
    font-weight: bold;
    font-size: 0.9em;
}

#tabla{
    height: 450px;
} */

/* #from_to{
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 1px solid;
}
#qfrom_qto{
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 1px solid;
    
} */

/* #flex_container {
    display: flex;
    justify-content: center;
    border: 1px solid;
  } */
