{% extends "base.html" %}
{% block section %}

<form action="/purchase" method="POST">
    <div id="flex_container">
        <div  id="from_to">
            <label name="from">From</label>
            <select name="from" value="{{request.from}}" required>
                {% for item in cur %}
                <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select>
            <label name="qfrom">Quantity from</label>
            <input type="text" name="qfrom" value="{{request.qfrom}}"  required>
            
            <label name="to">To:</label>
            <select name="to" value="{{request.to}}" required> 
                <option value="criptos" selected>Selecciona una moneda o criptomoneda</option>
                {% for item in cur %}
                <option value="{{item}}">{{item}}</option>
                {% endfor %}               
            </select>

            Q: <span>{{request.qto}}</span><br>
            
            PU: <span>{{request.pu}}</span>

            
            <input type="submit" name="btn" value="Calcular">
            <input type="submit" name="btn" value="Guardar">

</div>
</form>
{% endblock %}
