{% extends "base.html" %}
{% block section %}
    <div class="container" id="tabla">
 
        <table>
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">From</th>
                <th scope="col">Quantity from</th>
                <th scope="col">To</th>
                <th scope="col">Quantity to</th>
                <th scope="col">P.U.</th>
              </tr>
            </thead>
            <tbody>
                {% if sin_data %}
                    <th>No hay movimientos</th>
                {% endif %}
                
                {% for item in datos %}
                    <tr>
                        <th>{{item.id}}</th> 
                        <td>{{item.date}}</td>
                        <td>{{item.time}}</td>
                        <td>{{item.mfrom}}</td>
                        <td>{{item.quantity_from}}</td>
                        <td>{{item.mto}}</td>
                        <td>{{item.quantity_to|round(4)}}</td>
                        <td>{{(item.quantity_to/item.quantity_from)|round(5)}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}