{% extends "base.html" %}
{% block section %}
<div class="container" id="tabla_estado">
    <table>
        <thead>
          <tr>
            <th scope="col">Invertido</th>
            <th scope="col">Recuperado</th>
            <th scope="col">Valor de compra</th>
            <th scope="col">Valor actual</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}