{% extends "base.html" %}
{% block section %}
<div id="flash-messages">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

<div class="container" id="tabla_estado">
    <table>
        <thead>
          <tr>
            <th scope="col">Invertido</th>
            <th scope="col">Recuperado</th>
            <th scope="col">Valor de compra</th>
            <th scope="col">Valor actual</th>
            <th scope="col">Ganancia</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>{{invertir}} €</td>
              <td>{{mon_recuperadas}} €</td>
              <td>{{valor_compra}} €</td>
              <td>{{val_actual}} €</td>
              <td>{{(val_actual-valor_compra)|round(2)}} €</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}